<body>

    <div class="container">
      <h1>About Us</h1>
      <p>Welcome to our company! We are committed to providing the best products and services to our customers.</p>
      
      <div class="team-member">
        <img src="https://img.freepik.com/premium-photo/closeup-photo-portrait-young-businessman-founder-director-suit-glasses-standing_321831-17691.jpg" alt="Team Member 1">
        <div class="info">
          <h3>James Brown</h3>
          <p>Founder & CEO</p>
        </div>
      </div>
    
      <div class="team-member">
        <img src="https://www.shutterstock.com/image-photo/confident-successful-ceo-business-woman-600nw-1088049656.jpg" alt="Team Member 2">
        <div class="info">
          <h3>Leena Patel</h3>
          <p>Marketing Manager</p>
        </div>
      </div>
    
    
    

    