<body>

  <!-- !PAGE CONTENT! -->
  <div class="w3-content" style="max-width:1500px">
  
    <!-- Header -->
    <div class="container">
      <h1 class="header">Showcase your art</h1> 
    </div>
  
    <!-- Photo Grid -->
    <div class="w3-row">
      <div class="w3-half">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/2/29805-serene-retreat-barbara-mock.jpg">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/3/elysium-steve-mitchell.jpg">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/sea-breeze-steve-henderson.jpg">
      </div>
  
      <div class="w3-half">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images-medium-large-5/palm-3-mickey-mayfield.jpg">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/the-evening-ahead-steve-henderson.jpg">
        <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/peace-steve-henderson.jpg">
      </div>
    </div>
    
  <!-- End Page Content -->
  </div>
  
  <!-- Footer / About Section -->
  <footer class="w3-light-grey w3-padding-64 w3-center" id="about">
    <div class="footer-content">
    <h2>About</h2>
    <img src="https://cdn.dribbble.com/users/5470970/screenshots/12675780/allure-logo-jpeg.jpg" class="w3-image w3-padding-32" width="300" height="300">

    <form style="margin:auto;width:80%">
      <p>Art is the way to know yourself, all about exploring your inner world. It's about the creativity of your mind and soul which reflects on to a canvas. The famous quote by Anne Frank, 'Paper has more patience than people', it is indeed true that a single piece of paper listens to what is inside our mind, heart and soul with a single brush!</p>
      <p>So go on and flaunt your artistry and vision!</p>
      <p class="w3-large w3-text-pink">Do not hesitate to contact me!</p>
      <div class="w3-section">
        <label><b>Artist_name</b></label>
        <input class="w3-input w3-border" type="text" formControlName="artist_name" required>
      </div>
      <div class="w3-section">
        <label><b>Artwork_name</b></label>
        <input class="w3-input w3-border" type="text" formControlName="artwork_name" required>
      </div>
      <div class="w3-section">
        <label><b>Theme</b></label>
        <input class="w3-input w3-border" type="text" formControlName="theme" required>
      </div>
      <div class="w3-section">
        <label><b>Approx_cost</b></label>
        <input class="w3-input w3-border" type="text" formControlName="aprxcost" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-dark">Send</button>
    </form>
    </div>
  </footer>
</body>

