<body>
<nav>
  <ul>
    <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
    <li><a routerLink="/photos" routerLinkActive="active">Photos</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav>

<!-- This is where routed components will be displayed -->
<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer__addr">
    <h1 class="footer__logo">Find us here</h1>
    <h2>Contact</h2>
    <address>5534 Somewhere In. The World 22193-10212</address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>
      <ul class="nav__ul">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Technology for Arts</h2>
      <ul class="nav__ul nav__ul--extra">
        <li><a href="#">AR Technology</a></li>
        <li><a href="#">LED Custom Lights</a></li>
        <li><a href="#">Digital Signage</a></li>
        <li><a href="#">Automation</a></li>
        <li><a href="#">Artificial Intelligence</a></li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      <ul class="nav__ul">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2024 The Allure. All rights reserved.</p>
  </div>
</footer>
</body>