<body>
    
    
  <div class="homepage">
    <img src="https://quotefancy.com/media/wallpaper/3840x2160/177097-Vincent-van-Gogh-Quote-Paintings-have-a-life-of-their-own-that.jpg" alt="Homepage Image">
    <div class="container">
      <h1 class="header">The Allure</h1> 
  
      <div class="paragraph-container" style="background-color: rgba(255, 252, 252, 0.841);">
        <h4><img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGR2YW5nb2doLXNudmdyb2IuanBn.jpg" alt="Pineapple" style="width:500px;height:500px;margin-right:15px;">What Does It Really Mean to Make Art?</h4>
        <h4>When we set aside our romantic notions, we see that creativity is continuous, and fueled by life itself.
          For decades, Western culture has been reluctant to assign an inherent value or a purpose to art—even as it continues to hold art in high esteem. 
          Though we no longer seem comfortable saying so, our reverence for art must be founded on a timeless premise: that art is good for us. 
          If we don't believe this, then our commitment—in money, time, and study—makes little sense.</h4>
      </div>
      <div class="paragraph-container" style="background-color: rgba(225, 225, 225, 0.841);">
        <h4>In what way might art be good for us? The answer, I believe, is that art is a therapeutic instrument: its value lies in its capacity to exhort, console, 
          and guide us toward better versions of ourselves and to help us live more flourishing lives, individually and collectively.</h4>
        <h4>The idea that art's value should be understood in therapeutic terms is not new. In fact, it is the most enduring way of thinking about art, having its roots in Aristotle’s philosophical reflections on poetry and drama. In the Poetics, Aristotle argued that tragic drama can elevate how we experience fear and pity—two emotions that help shape our experience of life.</h4>
      </div>
      <div class="paragraph-container" style="background-color: rgba(255, 252, 252, 0.841);">
        <h4>The broad implication is that the task of art is to help us flourish, to be “virtuous,” in Aristotle's special sense of that word: that is, to be good at living, even in challenging circumstances.</h4>
        <h4>Just like Vincent Van Gogh's Starry Nights, our art pieces should be a starry everyday. The Allure is here to showcase the splendour of history in art. After all art is the way to capture the attention of anyone. The beauty of art is to understand the truth of it, its richness by all means. Allure gives you an experience of this richness, so what are you waiting for, go find your beauty to experience and buy what makes you feel!</h4>
      </div>
    </div>
  </div>
  

  
</body>